/*Defaults*/
body {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 20px;
  color: #0B3C49;
  background-color: #CBD2D0;
}
h1 {
  font-weight: bold;
}
h3 {
  opacity: 0.7;
}
p {
  font-family: 'Arimo', sans-serif;
  opacity: 0.7;
}
a {
  color: #F0E100;
  text-decoration: none;
}
a:hover {
  transition: all 0.3s ease;
  color: #731963;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

/*Images*/
.image-profile {
  width: 500px;
  border-radius: 100%;
}

/*Padding*/
.padded {
  padding: 30px 0;
}

/*Margin*/
.margin-700-bottom {
  margin-bottom: 700px;
}

/*Cards*/
.card {
  padding: 50px 10px;
}
.card-top {
  padding: 150px 10px;
  line-height: 2;
}
.card-white {
  background-color: #FFFDFD;
}
.card-blue {
  background-color: #0B3C49;
  color: #FFFDFD;
}

/*Buttons*/
.button {
}
.button-primary {
  font-weight: bold;
  color: #fff;
  border: 2px solid #F0E100;
  background: #F0E100;
  padding: 20px;
  border-radius: 50px;
}
.button-primary:hover {
  color: #F0E100;
  border: 2px solid;
  background: transparent;
  transition: all 0.3s ease;
}
.button-primary-xs {
  font-weight: bold;
  color: #fff;
  border: 2px solid #F0E100;
  background: #F0E100;
  padding: 5px;
  border-radius: 50px;
}
.button-primary-xs:hover {
  color: #F0E100;
  border: 2px solid;
  background: transparent;
  transition: all 0.3s ease;
}

/*Text*/
.text-purple{
  color: #731963;
}
.text-green{
  color: #F0E100;
}
